.text-gradient {
  background: linear-gradient(270deg, #000000, #6a0dad, #d946ef);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: GradientFlow 4s ease infinite;
}

@keyframes GradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
